<div class="starter-template">
  <div>
  <h1>Super proyecto Argonauta</h1>
  <p>
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
   Escribe algo y espera a ver magia...
  </p>
  <textarea class="form-control" rows="20" ng-keypress="teclaPresionada($event)"></textarea>
  </div>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>
